body {
    padding: 0;
    margin: 0;
    font-family: AvenirNext-Regular;
}

a {
    text-decoration: none;
    color: #4A4A4A;
}

.textLinks {
    color: #E26D5A;
}

.cursive {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.placeholder {
    height: 15vh;
}

h1 {
    margin: 0;
    height: 20vh;
    text-align: center;
    font-family: AvenirNext-Bold;
    font-size: 14vh;
    color: #4A4A4A;
}

h2 {
    margin: 0;
    font-weight: normal;
    height: 15vh;
    text-align: center;
    /*font-family: AvenirNext-Regular;*/
    font-size: 7vh;
    color: #4A4A4A;
}

.imgLukasBals {
    height: 40vh;
    text-align: center;
}

.imgLukasBals img {
    height: 100%;
    width: auto;
    display: inline-block;
}

.logoLukasBals {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    width: auto;
    left: -500px;
    transition: all ease .3s;
    cursor: pointer;
}

.transform {
    left: 0;
}

.logoLukasBals img {
    height: 100%;
    width: 100%;
}

nav {
    z-index: 10;
    width: 100%;
    height: 10vh;
    background: #4A4A4A;
    overflow: hidden;
    position: absolute;
    display: table;
}

nav ul {
    display: table-cell;
    padding: 0 0 0 0;
    vertical-align: middle;
    list-style: none;
    text-align: center;
    overflow: hidden;
}

nav ul li {
    display: inline-block;
    cursor: pointer;
    margin: 0 20px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0;
}

@media (pointer: fine) {
    nav ul li:after,
    nav ul li:before {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border: 1px solid rgba(255, 255, 255, 0);
        bottom: 0px;
        content: " ";
        display: block;
        margin: 0 auto;
        position: relative;
        -webkit-transition: all 280ms ease-in-out;
        transition: all 280ms ease-in-out;
        width: 0;
    }

    nav ul li:hover:after,
    nav ul li:hover:before {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-color: #fff;
        -webkit-transition: width 350ms ease-in-out;
        transition: width 350ms ease-in-out;
        width: 100%;
    }
}

nav ul li:hover:before {
    bottom: auto;
    top: 0;
    width: 100%;
}

section {
    padding: 50px 0 0 0;
    text-align: center;
}

.cv {
    margin-top: 10vh;
}

table {
    display: inline-block;
    padding-bottom: 10vh;
    margin: 0 10px;
}

.trPlaceholder {
    height: 50px;
}

table tr td {
    padding: 10px 10px 0 10px;
    vertical-align: top;
    max-width: 500px;
    text-align: left;
}

.cursive span {
    padding: 0 30px 0 0;
    color: #E26D5A;
}

table tr td ul {
    padding: 0 0 0 20px;
}

.reference {
    background-color: lightgray;
}

h3 {
    font-style: italic;
    font-size: 20px;
    padding: 0 0 15px 0;
    text-align: center;
    border-bottom: 2px solid #4A4A4A;
    color: #E26D5A;
}

.referenceTableDiv {
    display: inline-block;
    max-width: 1200px;
    /*width: auto;*/
}

.referenceLinks {
    text-align: center;
}

.referenceLinks a {
    display: inline-block;
}

.contactTable tbody tr td {
    vertical-align: middle;
}

.contactLinks {
    margin: 0 10px 0 0;
    width: 30px;
    height: 30px;
    float: left;
}

.contactLinksIMG {
    width: 100%;
    height: 100%;
}

.button {
    width: 270px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    /*margin: 10px;*/
    padding: 10px 0;
    border: 2px solid #4A4A4A;
    text-align: center;
    position: relative;
    overflow: hidden;
    -webkit-transition: .3s;
    transition: .3s;
}

.button:after {
    position: absolute;
    -webkit-transition: .3s;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #4A4A4A;
}

.button:hover {
    cursor: pointer;
}

.button:hover:after {
    width: 100%;
    left: 0;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #4A4A4A;
    color: #ffffff;
    /*font-family: AvenirNext-Regular;*/
}

@media screen and (max-width: 400px) {
    h2 {
        font-size: 14vh;
    }

    h2 {
        font-size: 8vh;
    }

    table tr td {
        padding: 5px 5px 0 5px;
    }

    table tr td i {
        padding: 0 10px 0 0;
    }
}

@media screen and (max-width: 700px), screen and (max-height: 860px) {
    nav ul li {
        font-size: 18px;
    }
}

@media screen and (max-width: 710px) {
    header h2 {
        display: none;
    }

    header h1 {
        height: 35vh;
    }
}

@media screen and (max-width: 630px) {
    .logoLukasBals {
        left: -200px;
    }
}

.loading * {
    opacity: 0;
}

@media screen and (max-width: 400px) {
    .cursive span {
        padding: 0 10px 0 0;
    }
}

@media screen and (max-width: 372px), screen and (max-height: 420px) {
    nav ul li {
        font-size: 16px;
        margin: 0 10px;
    }
}

.dots-loader:not(:required) {
    opacity: 1;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -4px;
    margin-top: -4px;
    text-indent: -9999px;
    display: inline-block;
    width: 8px;
    height: 8px;
    background: transparent;
    border-radius: 100%;
    box-shadow: #E26D5A -14px -14px 0 7px, #4A4A4A 14px -14px 0 7px, #4A4A4A 14px 14px 0 7px, #4A4A4A -14px 14px 0 7px;
    animation: dots-loader 4s infinite ease-in-out;
    transform-origin: 50% 50%;
    transform: scale(1);
    transition: all ease .5s;
}

@keyframes dots-loader {
    0% {
        box-shadow: #E26D5A -14px -14px 0 7px, #4A4A4A 14px -14px 0 7px, #4A4A4A 14px 14px 0 7px, #4A4A4A -14px 14px 0 7px;
    }
    8.33% {
        box-shadow: #E26D5A 14px -14px 0 7px, #4A4A4A 14px -14px 0 7px, #4A4A4A 14px 14px 0 7px, #4A4A4A -14px 14px 0 7px;
    }
    16.67% {
        box-shadow: #E26D5A 14px 14px 0 7px, #4A4A4A 14px 14px 0 7px, #4A4A4A 14px 14px 0 7px, #4A4A4A -14px 14px 0 7px;
    }
    25% {
        box-shadow: #E26D5A -14px 14px 0 7px, #4A4A4A -14px 14px 0 7px, #4A4A4A -14px 14px 0 7px, #4A4A4A -14px 14px 0 7px;
    }
    33.33% {
        box-shadow: #E26D5A -14px -14px 0 7px, #4A4A4A -14px 14px 0 7px, #4A4A4A -14px -14px 0 7px, #4A4A4A -14px -14px 0 7px;
    }
    41.67% {
        box-shadow: #E26D5A 14px -14px 0 7px, #4A4A4A -14px 14px 0 7px, #4A4A4A -14px -14px 0 7px, #4A4A4A 14px -14px 0 7px;
    }
    50% {
        box-shadow: #E26D5A 14px 14px 0 7px, #4A4A4A -14px 14px 0 7px, #4A4A4A -14px -14px 0 7px, #4A4A4A 14px -14px 0 7px;
    }
    58.33% {
        box-shadow: #E26D5A -14px 14px 0 7px, #4A4A4A -14px 14px 0 7px, #4A4A4A -14px -14px 0 7px, #4A4A4A 14px -14px 0 7px;
    }
    66.67% {
        box-shadow: #E26D5A -14px -14px 0 7px, #4A4A4A -14px -14px 0 7px, #4A4A4A -14px -14px 0 7px, #4A4A4A 14px -14px 0 7px;
    }
    75% {
        box-shadow: #E26D5A 14px -14px 0 7px, #4A4A4A 14px -14px 0 7px, #4A4A4A 14px -14px 0 7px, #4A4A4A 14px -14px 0 7px;
    }
    83.33% {
        box-shadow: #E26D5A 14px 14px 0 7px, #4A4A4A 14px -14px 0 7px, #4A4A4A 14px 14px 0 7px, #4A4A4A 14px 14px 0 7px;
    }
    91.67% {
        box-shadow: #E26D5A -14px 14px 0 7px, #4A4A4A 14px -14px 0 7px, #4A4A4A 14px 14px 0 7px, #4A4A4A -14px 14px 0 7px;
    }
    100% {
        box-shadow: #E26D5A -14px -14px 0 7px, #4A4A4A 14px -14px 0 7px, #4A4A4A 14px 14px 0 7px, #4A4A4A -14px 14px 0 7px;
    }
}

.loaded .dots-loader {
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transform: scale(0);
}

.loaded * {
    transition: all .5s;
    opacity: 1;
}
